{% extends "base.html" %}

{% block title %}JPL-Kana{% endblock %}
{% set active_page = "kana" %}

{% block styles %}
{{ super() }}
<link href="./static/main.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="./static/main.js"></script>
{% endblock %}


{% block page_content %}
{% for i in ['Seion', 'Dakuon', 'Yoon-Seion'] %}
  <ul id="{{ i }}" class="nav nav-tabs visible-xs">
    <li class="active">
      <a href="{{ '#{0}-0'.format(i) }}" data-toggle="tab">
        片假名
      </a>
    </li>
    <li class="dropdown">
      <a href="{{ '#{0}-1'.format(i) }}" data-toggle="tab">
        平假名
      </a>
    </li>
  </ul>
  <div class="ui grid">
    <div class="eight wide column" id="{{ '{0}-0'.format(i) }}">
      {{ kana_table(i, 0) }}
    </div>
    <div class="eight wide column" id="{{ '{0}-1'.format(i) }}">
      {{ kana_table(i, 1) }}
    </div>
  </div>
{% endfor %}
{% endblock %}

{% macro kana_table(character, hiragana) %}
  <table class="ui celled table"
         data-character="{{ character }}" data-hiragana="{{ hiragane }}">
    {% set kana_index = [] %}
    {% if character == 'Seion' %}
      {{ kana_index.extend(kana['Seion'])|default("", True) }}
      {% if hiragana == 0 %}
        <caption style="text-align: center">清音-片假名</caption>
      {% else %}
        <caption style="text-align: center">清音-平假名</caption>
      {% endif %}
    {% elif character == 'Dakuon' %}
      {{ kana_index.extend(kana['Dakuon'])|default("", True) }}
      {{ kana_index.extend(kana['Handakuon'])|default("", True) }}
      {% if hiragana == 0 %}
        <caption style="text-align: center">浊音-片假名</caption>
      {% else %}
        <caption style="text-align: center">浊音-平假名</caption>
      {% endif %}
    {% elif character == 'Yoon-Seion' %}
      {{ kana_index.extend(kana['Yoon-Seion'])|default("", True) }}
      {{ kana_index.extend(kana['Yoon-Dakuon'])|default("", True) }}
      {{ kana_index.extend(kana['Yoon-Handakuon'])|default("", True) }}
      {% if hiragana == 0 %}
        <caption style="text-align: center">拗音-片假名</caption>
      {% else %}
        <caption style="text-align: center">拗音-平假名</caption>
      {% endif %}
    {% endif %}
    <colgroup>
      <col style="width:8px;">
      {% for row in range(kana_index[0]|length) %}
      <col>
      {% endfor %}
    </colgroup>
    {% set x = 0 %}
    {% set y = 0 %}
    <tr>
      {% for row in range(kana_index[0]|length + 1) %}
      <td class="sel-but" data-row="0" data-cell="{{ row }}"></td>
      {% endfor %}
    </tr>
    {% for i in kana_index %}
      {% set x = x + 1 %}
      <tr class="center aligned">
        <td class="sel-but" data-row="{{ x }}" data-cell="{{ y }}"></td>
        {% for j in i %}
            {% set y = y + 1 %}
            {% if j != None %}
                <td class="kana positive" data-row="{{ x }}" data-cell="{{ y }}">
                    <strong>{{ j[hiragana] }}</strong>
                    <span class="label label-default" style="width: 75%;display: block">
                      {% if '|' in j[2] %}
                      {{ j[2].split('|')[0] }}
                      {% else %}
                      {{ j[2] }}
                      {% endif %}
                    </span>
                </td>
            {% else %}
                <td></td>
            {% endif %}
        {% endfor %}
        {% set y = 0 %}
      </tr>
    {% endfor %}
  </table>
{% endmacro %}