<html>
<head>
{% block head %}
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  {% block styles %}
  {% endblock %}
  <script src="{{ url_for('static', filename='jquery-2.2.0.min.js') }}"></script>
  <script>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
  <link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}"
        type="image/x-icon">
  <link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}"
        type="image/x-icon">
{% endblock %}
</head>
<body class="HolyGrail">
<header class="Grid">
{% set navigation_bar = [
    ('/', 'index', 'JPL'),
    ('/', 'kana', 'Kana'),
    ('/test/', 'test', 'Kana-Test')
] -%}
{% set active_page = active_page|default('index') -%}
  <div class="Grid-cell"></div>
  <nav class="Grid-nav" id="navigation">
    {% for href, id, caption in navigation_bar %}
    <a class="item
    {% if id == 'index' %}site{% endif %}
    {% if id == active_page %}active{% endif %}" href="{{ href|e }}">
      {{ caption|e }}
    </a>
    {% endfor %}
  </nav>
  <div class="Grid-cell"></div>
</header>
{% block content %}
<div class="HolyGrail-body">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
    <nav class="HolyGrail-nav">...</nav>
    <aside class="HolyGrail-ads">...</aside>
</div>

<footer>Here is footer</footer>
{% endblock %}
{% block scripts %}
{{ moment.include_moment() }}
{% endblock %}
</body>
</html>